<div class="container">
  <div class="row col-md-12 p-5">
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-info"
        (click)="createFormComponent()"
      >
        Show Form
      </button>
    </div>
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-info"
        (click)="createListComponent()"
      >
        Show List
      </button>
    </div>
  </div>
  <div class="col-md-12 mt-5 mb-5">
    <p class="mb-5">The dynamic component will be loaded below</p>
    <template #container></template>
  </div>
</div>
